/* Write your CSS here */
.movie-image {
  margin: 10px 15px;
  cursor: pointer;
  outline: none;
}
.popup-card {
  height: 400px;
  width: 850px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.close-button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  align-self: flex-end;
}
.close-icon {
  font-size: 20px;
}
